{% extends 'master' %}

{% block content %}
    <div class="card bgm-deeporange">
        <div class="card-header">
            <h2 class="c-white">Η σελίδα δεν υπάρχει</h2>
        </div>
    </div>
{% endblock %}
