@layout('master')

@section('content')
  <div class="__banner">
    <div class="banner__inner">
      <h1>404</h1>

      <p>Η σελίδα που ζητήσατε δεν υπάρχει.</p>

      <a href="/">Πίσω στην κεντρική</a></p>
    </div>
  </div>
@endsection
